extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen Nosotros", class="img-fluid")
            .col-md-7
                h1= pagina

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ligula mi, ornare ac leo et, posuere iaculis nunc. Quisque nec elementum urna. Aenean felis quam, condimentum at iaculis et, pretium viverra nulla. Cras tortor enim, semper nec suscipit a, aliquet nec arcu. Fusce iaculis nulla vel turpis facilisis convallis. Praesent accumsan magna sed ante aliquet vestibulum. Nunc gravida enim ut erat euismod maximus.

                p Sed ullamcorper tortor semper massa iaculis, ac feugiat magna convallis. Curabitur nec nunc elementum, egestas metus sed, euismod augue. Quisque euismod quam libero. Mauris vestibulum interdum dolor sit amet euismod. Vestibulum massa metus, gravida sit amet sem sit amet, molestie mattis elit. Ut ullamcorper nibh dapibus justo consequat sagittis. Integer nunc mi, pulvinar ut elit in, iaculis dapibus est.

                p Suspendisse eu erat in turpis dapibus faucibus eget et libero. Praesent iaculis lectus nisl, vitae consequat velit dignissim porta. Morbi laoreet lorem id condimentum sagittis. Praesent egestas arcu eget tristique feugiat. In faucibus nisi metus, eu rhoncus odio faucibus aliquam. In non ipsum diam. Proin pretium luctus dui eget dictum. Etiam rutrum volutpat felis, nec vestibulum quam consequat eu.
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Suspendisse eu erat in turpis dapibus faucibus eget et libero. Praesent iaculis lectus nisl, vitae consequat velit dignissim porta. Morbi laoreet lorem id condimentum sagittis. Praesent egestas arcu eget tristique feugiat. In faucibus nisi metus.
                
                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Suspendisse eu erat in turpis dapibus faucibus eget et libero. Praesent iaculis lectus nisl, vitae consequat velit dignissim porta. Morbi laoreet lorem id condimentum sagittis. Praesent egestas arcu eget tristique feugiat. In faucibus nisi metus.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Suspendisse eu erat in turpis dapibus faucibus eget et libero. Praesent iaculis lectus nisl, vitae consequat velit dignissim porta. Morbi laoreet lorem id condimentum sagittis. Praesent egestas arcu eget tristique feugiat. In faucibus nisi metus.